<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.vermore.mapper.EntryMapper">
    <resultMap id="EntryResult" type="jp.co.vermore.entity.Entry">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="entry_id" property="entryId" />
        <result column="entry_type" property="entryType" />
        <result column="mail" property="mail" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="create_datetime" property="createDatetime" />
        <result column="update_datetime" property="updateDatetime" />
        <result column="del_flg" property="delFlg" />
        <result column="note" property="note" />
    </resultMap>

    <resultMap id="Result" type="jp.co.vermore.entity.Entry">
        <result column="id" property="id" />
        <result column="uuid" property="uuid" />
        <result column="user_id" property="userId" />
        <result column="entry_id" property="entryId" />
        <result column="entry_type" property="entryType" />
        <result column="mail" property="mail" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="first_name" property="firstName" />
        <result column="second_name" property="secondName" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="career" property="career" />
        <result column="zipcode" property="zipcode" />
        <result column="address" property="address" />
        <result column="address2" property="address2"/>
        <result column="create_datetime" property="createDatetime" />
        <result column="update_datetime" property="updateDatetime" />
        <result column="del_flg" property="delFlg" />
        <result column="note" property="note" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, entry_id, entry_type,mai,title,content, create_datetime, update_datetime, del_flg, note
    </sql>

    <insert id="insertEntry">
        insert into entry(
          user_id,
          entry_id,
          entry_type,
          create_datetime,
          update_datetime,
          del_flg,
          note
        ) values (
          #{userId},
          #{entryId},
          #{entryType},
          #{createDatetime},
          #{updateDatetime},
          #{delFlg},
          #{note}
        )
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            select @@IDENTITY
        </selectKey>
    </insert>

    <insert id="insertAdminEntry" parameterType="jp.co.vermore.entity.Entry" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Fri May 04 14:15:30 CST 2018.
        -->
        insert into entry
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="entryId != null" >
                entry_id,
            </if>
            <if test="entryType != null" >
                entry_type,
            </if>
            <if test="mail != null" >
                mail,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="content != null" >
                content,
            </if>
            <if test="createDatetime != null" >
                create_datetime,
            </if>
            <if test="updateDatetime != null" >
                update_datetime,
            </if>
            <if test="delFlg != null" >
                del_flg,
            </if>
            <if test="note != null" >
                note,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="entryId != null" >
                #{entryId},
            </if>
            <if test="entryType != null" >
                #{entryType,jdbcType=TINYINT},
            </if>
            <if test="mail != null" >
                #{mail},
            </if>
            <if test="title != null" >
                #{title},
            </if>
            <if test="content != null" >
                #{content},
            </if>
            <if test="createDatetime != null" >
                #{createDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDatetime != null" >
                #{updateDatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlg != null" >
                #{delFlg,jdbcType=BIT},
            </if>
            <if test="note != null" >
                #{note,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getEntryAllByCondition" parameterType="jp.co.vermore.form.admin.EntryListForm" resultMap="Result">
        select u.uuid,e.id,e.user_id,e.entry_id,e.entry_type,e.create_datetime,e.title,
        p.first_name,p.second_name,p.gender,p.birthday,p.career,p.zipcode,p.address,p.address2,p.mail
        from entry e
        inner join person as p on p.user_id = e.user_id
        inner join `user` as u on u.id = e.user_id
        where e.del_flg = 0 AND p.del_flg = 0 AND u.del_flg = 0

        <if test="uuid != null and uuid != '' ">
            and u.uuid = #{uuid}
        </if>
        <if test="gender != null and gender != 9 ">
            and p.gender = #{gender}
        </if>
        <if test="career != null and career != 0 ">
            and p.career = #{career}
        </if>
        <if test="firsetName != null and firsetName != '' ">
            and p.first_name like '%${firsetName}%'
        </if>
        <if test="secondName != null and secondName != '' ">
            and p.second_name like '%${secondName}%'
        </if>
        <if test="address != null and address != '' ">
            and p.address like '%${address}%'
        </if>
        <if test="mail != null and mail != '' ">
            and p.mail like '%${mail}%'
        </if>
        <if test="title != null and title != '' ">
            and e.title like '%${title}%'
        </if>
        <if test="ageFrom != null  ">
            and    TIMESTAMPDIFF(YEAR, p.birthday, now())  &gt;= #{ageFrom}
        </if>
        <if test="ageTo != null  ">
            and    TIMESTAMPDIFF(YEAR, p.birthday, now())  &lt;= #{ageTo}
        </if>
        <if test="dateFrom != null  ">
            and date_format(e.create_datetime,'%Y-%m-%d') &gt;= date_format(#{dateFrom},'%Y-%m-%d')
        </if>
        <if test="dateTo != null  ">
            and date_format(e.create_datetime,'%Y-%m-%d') &lt;= date_format(#{dateTo},'%Y-%m-%d')
        </if>
        <if test="expert != null and expert != '' ">
            and n.detail like '%${expert}%'
        </if>
        <if test="orderStatement != null and orderStatement != '' and orderStatement != createDatetime  ">
            order by ${orderStatement} ,e.create_datetime DESC
        </if>
        <if test="orderStatement != null and orderStatement != '' and orderStatement == createDatetime  ">
            order by ${orderStatement}
        </if>
        <if test="orderStatement != null and orderStatement == '' ">
            order by e.create_datetime DESC
        </if>
        <if test="length != -1  ">
        LIMIT #{length,jdbcType=INTEGER} OFFSET #{start,jdbcType=INTEGER};
        </if>
    </select>

    <select id="getEntryCountByCondition" parameterType="jp.co.vermore.form.admin.EntryListForm" resultType="int">
        select count(e.id) as totalCount
        from entry e
        inner join person as p on p.user_id = e.user_id
        inner join `user` as u on u.id = e.user_id
        where e.del_flg = 0 AND p.del_flg = 0 AND u.del_flg = 0

        <if test="uuid != null and uuid != '' ">
            and u.uuid = #{uuid}
        </if>
        <if test="gender != null and gender  != 9 ">
            and p.gender = #{gender}
        </if>
        <if test="career != null and career != 0 ">
            and p.career = #{career}
        </if>
        <if test="firsetName != null and firsetName != '' ">
            and p.first_name like '%${firsetName}%'
        </if>
        <if test="secondName != null and secondName != '' ">
            and p.second_name like '%${secondName}%'
        </if>
        <if test="address != null and address != '' ">
            and p.address like '%${address}%'
        </if>
        <if test="mail != null and mail != '' ">
            and p.mail like '%${mail}%'
        </if>
        <if test="title != null and title != '' ">
            and e.title like '%${title}%'
        </if>
        <if test="ageFrom != null  ">
            and    TIMESTAMPDIFF(YEAR, p.birthday, now())  &gt;= #{ageFrom}
        </if>
        <if test="ageTo != null  ">
            and    TIMESTAMPDIFF(YEAR, p.birthday, now())  &lt;= #{ageTo}
        </if>
        <if test="dateFrom != null  ">
            and date_format(e.create_datetime,'%Y-%m-%d') &gt;= date_format(#{dateFrom},'%Y-%m-%d')
        </if>
        <if test="dateTo != null  ">
            and date_format(e.create_datetime,'%Y-%m-%d') &lt;= date_format(#{dateTo},'%Y-%m-%d')
        </if>
        <if test="expert != null and expert != '' ">
            and n.detail like '%${expert}%'
        </if>

    </select>

    <select id="getEntryCount" resultType="int">
        select count(id) as totalCount
        from entry
        where del_flg = 0;
    </select>

    <select id="getEntryById" resultMap="EntryResult">
        select *
        from entry
        where
        id = #{id}
        AND
        del_flg = 0;
    </select>

    <select id="getEntryByUserId" resultMap="EntryResult">
        select *
        from entry
        where
        user_id = #{param1}
        AND
        entry_id = #{param2}
        AND
        entry_type = #{param3}
        AND
        del_flg = 0
         LIMIT 1;
    </select>

    <delete id="deleteEntry" >
        update entry set del_flg = #{delFlg} where id = #{id}
    </delete>

</mapper>