<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.vermore.mapper.PlaceMapper" >
  <resultMap id="PlaceResult" type="jp.co.vermore.entity.Place" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="INTEGER" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="flic_url" property="flicUrl" jdbcType="VARCHAR" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="del_flg" property="delFlg" jdbcType="BIT" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="coordinate1" property="coordinate1" />
    <result column="coordinate2" property="coordinate2" />
    <result column="publish_start" property="publishStart"/>
    <result column="publish_end" property="publishEnd"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, uuid, name, introduce, address, area, pic_url, flic_url, create_datetime, update_datetime,
    del_flg, note, coordinate1, coordinate2 , publish_start , publish_end
  </sql>

  <select id="selectById" resultMap="PlaceResult">
    select
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    and id = #{id}
  </select>

  <select id="selectByUuid" resultMap="PlaceResult">
    select
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    and uuid = #{uuid}
  </select>

  <select id="getPlaceAll" resultMap="PlaceResult">
    select 
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    <if test="param3 != 0">
      and area = #{param3}
    </if>
    LIMIT #{param1} OFFSET #{param2}
  </select>

  <select id="getPlaceAllForRandom" resultMap="PlaceResult">
    select
    <include refid="Base_Column_List"/>
    from place
    where del_flg = 0
  </select>

  <select id="getPlaceByUuidList" resultMap="PlaceResult" parameterType="java.util.List">
    select
    <include refid="Base_Column_List"/>
    from place
    where del_flg = 0
    and uuid in
    <foreach collection="list" item="ent" separator="," open="(" close=")">
      #{ent}
    </foreach>
  </select>

  <select id="getPlaceAllByArea" resultMap="PlaceResult">
    select
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    <if test="param1 != 0" >
      and area = #{param1}
    </if>
    LIMIT #{param2} OFFSET #{param3}
  </select>

  <select id="getPlaceAllCount" resultMap="PlaceResult">
    select
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    <if test="param1 != 0" >
      and area = #{param1}
    </if>
    and publish_start &lt; #{param2}
    and publish_end &gt;= #{param3}
  </select>

  <select id="getPlaceForSettlementBatch" resultMap="PlaceResult">
    select
    <include refid="Base_Column_List"/>
    from place
    where
    publish_start &lt; #{param1}
    and publish_end &gt; #{param2}
  </select>

  <delete id="deletePlace">
    update place set del_flg = #{delFlg} where id = #{id}
  </delete>

  <insert id="insertPlace" parameterType="jp.co.vermore.entity.Place" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 17 08:54:23 CST 2018.
    -->
    insert into place (
    uuid, name, introduce, address, area, pic_url, flic_url, create_datetime, update_datetime,
    del_flg, note , coordinate1 , coordinate2 , publish_start ,publish_end)
    values (
    #{uuid,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{introduce,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR}, #{area,jdbcType=INTEGER},
    #{picUrl,jdbcType=VARCHAR}, #{flicUrl,jdbcType=VARCHAR},
    #{createDatetime,jdbcType=TIMESTAMP}, #{updateDatetime,jdbcType=TIMESTAMP}, #{delFlg,jdbcType=BIT},
    #{note,jdbcType=VARCHAR},#{coordinate1},#{coordinate2} , #{publishStart} , #{publishEnd})
    <selectKey resultType="long" keyProperty="id" order="AFTER">
      select @@IDENTITY
    </selectKey>
  </insert>

  <!--<insert id="insertPlace" parameterType="jp.co.vermore.entity.Place" >-->
    <!--insert into place-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="introduce != null" >-->
        <!--introduce,-->
      <!--</if>-->
      <!--<if test="address != null" >-->
        <!--address,-->
      <!--</if>-->
      <!--<if test="area != null" >-->
        <!--area,-->
      <!--</if>-->
      <!--<if test="picUrl != null" >-->
        <!--pic_url,-->
      <!--</if>-->
      <!--<if test="flicUrl != null" >-->
        <!--flic_url,-->
      <!--</if>-->
      <!--<if test="createDatetime != null" >-->
        <!--create_datetime,-->
      <!--</if>-->
      <!--<if test="updateDatetime != null" >-->
        <!--update_datetime,-->
      <!--</if>-->
      <!--<if test="delFlg != null" >-->
        <!--del_flg,-->
      <!--</if>-->
      <!--<if test="note != null" >-->
        <!--note,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="introduce != null" >-->
        <!--#{introduce,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="address != null" >-->
        <!--#{address,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="area != null" >-->
        <!--#{area,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="picUrl != null" >-->
        <!--#{picUrl,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="flicUrl != null" >-->
        <!--#{flicUrl,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="createDatetime != null" >-->
        <!--#{createDatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="updateDatetime != null" >-->
        <!--#{updateDatetime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="delFlg != null" >-->
        <!--#{delFlg,jdbcType=BIT},-->
      <!--</if>-->
      <!--<if test="note != null" >-->
        <!--#{note,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->

  <update id="updatePlace" parameterType="jp.co.vermore.entity.Place" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Mar 20 16:16:55 CST 2018.
    -->
    update place
    <set >
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="flicUrl != null" >
        flic_url = #{flicUrl,jdbcType=TINYINT},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlg != null" >
        del_flg = #{delFlg,jdbcType=BIT},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="coordinate1 != null and coordinate1 != 0">
        coordinate1=#{coordinate1},
      </if>
      <if test="coordinate2 != null and coordinate2 != 0">
        coordinate2=#{coordinate2},
      </if>
      <if test="publishStart != null ">
        publish_start=#{publishStart},
      </if>
      <if test="publishEnd != null">
        publish_end=#{publishEnd},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByUuidArea" resultMap="PlaceResult">
    SELECT
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    and uuid != #{param1}
    and publish_start &lt; #{param2}
    and publish_end  >= #{param3}
    limit 4
  </select>

  <select id="findPlaceByUuidList" resultMap="PlaceResult" parameterType="java.util.List">
    SELECT
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    and uuid in
    <foreach collection="list" item="ent" separator="," open="(" close=")">
      #{ent}
    </foreach>
  </select>


  <select id="getShopUuidByShopIdPlace" resultType="String">
    SELECT uuid from place
    where id = #{id}
    and del_flg = 0
  </select>


  <select id="getPlace" resultMap="PlaceResult">
    select
    <include refid="Base_Column_List" />
    from place
    where del_flg = 0
    and id = #{shopId}
  </select>
</mapper>